<h3 align="center">사용자 전화번호 조회 및 등록</h3>
<table>
  <thead>
    <tr>
      <th>No</th>
      <th>이름</th>
      <th>전화번호</th>
      <th>전화소유</th>
    </tr>
  </thead>
  <% lno = 1 %>
  <% @results.each do |result| %>
  <tr>
    <td>
      <%= lno %></td>
    <td><%= result.name %></td>
    <td><%= result.owner %></td>
    <td><%= result.telno %></td>
    <td><%= link_to '조회', telnos_path %></td>
    <td><%= link_to '수정', telnos_path %></td>
    <td><%= link_to '삭제', telnos_path %></td>
    <% 
  lno = lno + 1
  end
%>
  </tr>
</table>

<hr>
<%= render 'form', telno: @telno %>
<hr>
<p><%= link_to '사용자 관리로 돌아가기', users_path %> | <%= link_to '전화번호 관리로 돌아가기', telnos_path %></p>

<p style="color:red">[개발] 전화번호 추가하기 위해 사용자 이름이 value값으로 들어가 있으면 좋을 듯</p>