<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @telno.name %>
</p>

<p>
  <strong>Telno:</strong>
  <%= @telno.telno %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @telno.owner %>
</p>

<%= link_to 'Edit', edit_telno_path(@telno) %> |
<%= link_to 'Back', telnos_path %>
